body {
  margin: 0;
    margin: 0;
  padding: 0;
}

.page{
  width: 100%;
}

.aboutMeImage{
    width: 100%;
}

.wave {
  color: #51604E;
  display: block;
  line-height: 0;
  width: 100%;
  height: 12rem;
  margin-top: -10rem;
  transform: scaleY(-1) scaleX(-1);
  z-index: 1;
}

.intro {
  position: relative;
  margin-top: -7rem;
  margin-left: 14rem;
  z-index: 2;

  font-family: 'Handwriting';
  font-size: 6rem;
  color: #51604E;
}

.upperTextArea {
  margin-top: -7rem;
  margin-left: 14rem;
  display: flex;
  flex-direction: row;
}


.sixFlagsImage {
  margin-left: 0.5rem;
  margin-top: -1.75rem;
  border-radius: 50%;
  width: 45%;
}

.sixFlagsText {
  font-size: 2rem;
  font-family: 'body';
  color: #51604E;
}

.middleTextArea {
  margin-top: -8rem;
  margin-left: 6rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.davis {
  width: 28%;
  aspect-ratio: 1 / 1; /* forces square */
  border-radius: 50%;
  object-fit: cover;
}

.davisText {
  margin-top: -1rem;
  margin-left: 1rem;
  font-size: 2rem;
  font-family: 'body';
  color: #51604E;
}

.bottomTextArea {
  margin-top: -0.5rem;
  margin-left: 14rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.isamImage {
  margin-left: 1rem;
  margin-top: 3rem;
  width: 50%;
  object-fit: cover;
  border-radius: 2rem;
}

.isamText {
  margin-top: -1rem;
  margin-left: 1rem;
  font-size: 2rem;
  font-family: 'body';
  color: #51604E;
}

.banner {
  overflow: hidden;
}

.sunset {
  width: 101%;
  margin-left: -1%;
}

.gap{
    height: 30vh;
}