body {
  margin: 0;
    margin: 0;
  padding: 0;
}

.page{
  width: 100%;
}

.aboutMeImage{
    width: 100%;
}

.wave {
  color: #51604E;
  display: block;
  line-height: 0;
  width: 100%;
  height: 12rem;
  margin-top: -10rem;
  transform: scaleY(-1) scaleX(-1);
  z-index: 1;
}

.intro {
  position: relative;
  margin-top: -7rem;
  margin-left: 14rem;
  z-index: 2;

  font-family: 'Handwriting';
  font-size: 6rem;
  color: #51604E;
}

.upperTextArea {
  margin-top: -7rem;
  margin-left: 14rem;
  display: flex;
  flex-direction: row;
}


.sixFlagsImage {
  margin-left: 0.5rem;
  margin-top: -1.75rem;
  border-radius: 50%;
  width: 45%;
}

.sixFlagsText {
  font-size: 2rem;
  font-family: 'body';
  color: #51604E;
}

.middleTextArea {
  margin-top: -8rem;
  margin-left: 6rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.davis {
  width: 28%;
  aspect-ratio: 1 / 1; /* forces square */
  border-radius: 50%;
  object-fit: cover;
}

.davisText {
  margin-top: -1rem;
  margin-left: 1rem;
  font-size: 2rem;
  font-family: 'body';
  color: #51604E;
}

.bottomTextArea {
  margin-top: -0.5rem;
  margin-left: 14rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.isamImage {
  margin-left: 1rem;
  margin-top: 3rem;
  width: 50%;
  object-fit: cover;
  border-radius: 2rem;
}

.isamText {
  margin-top: -1rem;
  margin-left: 1rem;
  font-size: 2rem;
  font-family: 'body';
  color: #51604E;
}

.banner {
  overflow: hidden;
}

.sunsetContainer {
  position: relative;
  width: 100%;
}

.sunset {
  width: 101%;
  margin-left: -1%;
  display: block;
}

.sunsetText {
  position: absolute;
  top: 50%;          /* vertical positioning */
  left: 50%;         /* horizontal positioning */
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Handwriting';
  font-size: 3rem;
  text-align: center;
  z-index: 2;
  pointer-events: none; /* optional */
  display: flex;
  flex-direction: column;
}


.sunsetText1 {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: -11rem;
  margin-left: 18rem;
  font-size: 8rem;
}

.sunsetText2 {
  position: absolute;
  font-family: 'Titles';
  margin: 0;
  padding: 0;
  margin-top: -7rem;
  margin-left: 2rem;
  font-size: 11rem;
}

.sunsetText3 {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: -5rem;
  margin-left: -8rem;
  font-size: 8rem;
}

.sunsetText4 {
  position: absolute;
  font-family: 'Titles';
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-left: -26rem;
  font-size: 11rem;
}

.sunsetText5 {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: 4rem;
  margin-left: -39rem;
  font-size: 8rem;
}

.gap{
    height: 30vh;
}

.signOff {
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
}

.verticalSignOff{
  margin-top: -5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.grad{
  border-radius: 3rem;
  width: 60%;
  margin-right: 5rem;
  margin-left: 10rem;
  margin-bottom: 3rem;
  margin-top: 0;
}

.project{
  width: 75%;
  border-radius: 1rem;
  border: 7px solid black;
}

.projectText{
  font-size: 2rem;
  font-family: 'body';
  color: #51604E;
}