.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

/* Titles */
.title {
  font-family: 'Titles';
  font-weight: 10;
  margin: 0;
  font-size: 7rem;
}

.special {
  font-size: 8rem;
}

.subtitle {
  font-family: 'Handwriting';
  font-weight: 10;
  margin: 0;
  margin-top: -1rem;
  font-size: 4.5rem;
}

.subsubtitle {
  font-family: 'Handwriting';
  font-weight: 10;
  margin: 0;
  margin-top: -1rem;
  font-size: 2.5rem;
}

/* Scrollable image */
.scrollContainer {
  width: 100vw;           /* full viewport width */
  max-width: 100%;
  overflow-x: auto;       /* horizontal scroll */
  overflow-y: hidden;     /* hide vertical scrollbar */
  white-space: nowrap;    /* prevent wrapping */
  margin-top: -2.3rem;
  margin-bottom: 0rem;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* hide IE/Edge scrollbar */
  scrollbar-width: none;    /* hide Firefox scrollbar */
}

.scrollContainer::-webkit-scrollbar {
    display: none;          /* hide Chrome scrollbar */
}

.scrollImage {
    margin: 0;
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 100vh;
    display: block;
    z-index: 1;
}


.wave {
  color: #51604E;
  display: block;
  line-height: 0;
  width: 100%;
  height: 12rem;
  margin: 0;
  margin-bottom: -2rem;
  transform: scaleY(-1) scaleX(-1);
  z-index: 2;
}

.wave2 {
  color: #51604E;
  display: block;
  line-height: 0;
  width: 100%;
  height: 12rem;
  margin: 0;
  margin-top: -2.3rem;
  margin-bottom: 2rem;
  z-index: 2;
}

.projectSection {
    margin-left: 12rem;
}

.projectTitle{
    font-family: 'Handwriting';
    font-weight: 100;
    color: #FFFFFF;
    font-size: 6rem;
    margin-bottom: 0rem;
}

.projectText{
    color: #FFFFFF;
    font-family: 'body';
    font-size: 2.5rem;
    margin: 0;
}

.designSection{
  padding-left: 6rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.video{
  width: 20%;
  border-radius: 2rem;
  margin-left: 8rem;
}

.designText{
  margin: 0;
  padding: 0;
  margin-left: 6rem;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
}

.designTitle{
  font-family: 'Handwriting';
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: 100;
}

.designBody{
  padding: 0;
  margin: 0;
  margin-top: -3rem;
  color: #FFFFFF;
  font-family: 'body';
  font-size: 1.75rem;
  font-weight: 100;
}

.bold{
  font-family: 'body-bold';
}