html {
    font-size: 1vw;
}

@font-face {
    font-family: 'Kyiv';
    src: url('./assets/fonts/KyivTypeSerif-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kolker';
    src: url('./assets/fonts/KolkerBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Italiana';
    src: url('./assets/fonts/Italiana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Serif-Bold';
    src: url('./assets/fonts/SourceSerifPro-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Serif-Light';
    src: url('./assets/fonts/SourceSerifPro-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titles';
    src: url('./assets/fonts/PressJobs.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Handwriting';
    src: url('./assets/fonts/gnyrwn971.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Body';
    src: url('./assets/fonts/Typestar-Normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Body-Bold';
    src: url('./assets/fonts/Typestar-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Serif';
    src: url('./assets/fonts/SourceSerifPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


  

html, body {
    margin: 0;
    padding: 0;
}
  