html {
    font-size: 1vw;
}

@font-face {
    font-family: 'Kyiv';
    src: url('./assets/fonts/KyivTypeSerif-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kolker';
    src: url('./assets/fonts/KolkerBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


  

html, body {
    margin: 0;
    padding: 0;
}
  