.container {
  position: relative; /* stays on top of page */
  top: 0;
  left: 0;
  width: 100%;
  overflow: visible; /* allow bubbles to scale outside container */
  background-color: rgba(81, 96, 78, 0.8); /* optional transparent overlay */
  z-index: 9999; /* very high to go above almost everything */
  height: 200vh;
  height: 100vw;
}

.bubbleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.bubble {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.25s ease, background 0.3s;
  background-color: white;
}

.bubble a {
  width: 100%;
  height: 100%;
}


.backgroundBubble {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.25s ease, background 0.3s;
  background-color: white;
}

.bubbleWrapper:hover .bubble {
  transform: scale(1.08);
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999999;
}

.bubbleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.25s ease;
}

.bubbleText {
  position: absolute;
  color: #51604e;
  margin-left: 15%;
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none; /* so hover still triggers the bubble */
  width: 85%;
}

.title{
    font-family: 'Body-Bold', sans-serif;
    margin: 0;
}

.subtitle{
    font-family: 'Body', sans-serif;
    margin: 0;
}

.bubbleWrapper:hover .bubbleImage {
  opacity: 0; /* dim image to highlight text */
}

.bubbleWrapper:hover .bubbleText {
  opacity: 1;
}


@media (prefers-reduced-motion: reduce) {
  .bubble {
    transition: none;
  }
}
