.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

/* Titles */
.title {
  font-family: 'Titles';
  font-weight: 10;
  margin: 0;
  font-size: 7rem;
}

.special {
  font-size: 8rem;
}

.subtitle {
  font-family: 'Handwriting';
  font-weight: 10;
  margin: 0;
  margin-top: -1rem;
  font-size: 4.5rem;
}

.subsubtitle {
  font-family: 'Handwriting';
  font-weight: 10;
  margin: 0;
  margin-top: -1rem;
  font-size: 2.5rem;
}

/* Scrollable image */
.scrollContainer {
  width: 100vw;           /* full viewport width */
  max-width: 100%;
  overflow-x: auto;       /* horizontal scroll */
  overflow-y: hidden;     /* hide vertical scrollbar */
  white-space: nowrap;    /* prevent wrapping */
  margin-top: -2.3rem;
  margin-bottom: 0rem;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* hide IE/Edge scrollbar */
  scrollbar-width: none;    /* hide Firefox scrollbar */
}

.scrollContainer::-webkit-scrollbar {
    display: none;          /* hide Chrome scrollbar */
}

.scrollImage {
    margin: 0;
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 100vh;
    display: block;
    z-index: 1;
}


.wave {
  color: #51604E;
  display: block;
  line-height: 0;
  width: 100%;
  height: 12rem;
  margin: 0;
  margin-bottom: -2rem;
  transform: scaleY(-1) scaleX(-1);
  z-index: 2;
}

.wave2 {
  color: #51604E;
  display: block;
  line-height: 0;
  width: 100%;
  height: 12rem;
  margin: 0;
  margin-top: -2.3rem;
  margin-bottom: 2rem;
  z-index: 2;
}

.awardSection {
    display: flex;
    flex-direction: row;
    margin-left: 12rem;
}

.award {
    margin-top: 5rem;
    width: 40%;
    border-radius: 2rem;
}

.awardTitle{
    font-family: 'Handwriting';
    font-weight: 100;
    color: #FFFFFF;
    font-size: 6rem;
    margin-bottom: 0rem;
}

.awardText{
    color: #FFFFFF;
    font-family: 'body';
    font-size: 2.5rem;
    margin: 0;
}

.projectText{
    color: #FFFFFF;
    margin: 0;
    margin-left: 12rem;
    font-family: 'body';
    font-size: 2.5rem;
}

.poster {
    width: 80%;
    margin-top: 2.5%;
    margin-left: 10%;
    border: 1rem solid #FFFFFF;
}

.modelSection {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-bottom: 5rem;
}

.model {
    width: 35%;
}

.modelTitle{
    color: #FFFFFF;
    font-family: 'Handwriting';
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
}

.modelHeader {
    color: #FFFFFF;
    font-family: 'Body-Bold';
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
}

.modelBodyText{
    margin: 0;
    margin-left: 3rem;
    color: #FFFFFF;
    font-family: 'Body';
    font-weight: 100;
    font-size: 1.5rem;
}

.i {
    font-size: 1.75rem;
    margin-right: 0.5rem;
}