.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'Titles';
    font-weight: 10;
    margin: 0;
    color: #FFFFFF;
    font-size: 7rem;
}

.subtitle{
    font-family: 'Handwriting';
    font-weight: 10;
    color: #FFFFFF;
    margin: 0;
    margin-top: -2rem;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.pdf {
    width: 100%;
    height: 90vh;
    border: none;
}

.awardSection {
    display: flex;
    flex-direction: row;
    margin-left: 12rem;
}

.award {
    margin-top: 5rem;
    width: 40%;
    border-radius: 2rem;
}

.awardTitle{
    font-family: 'Handwriting';
    font-weight: 100;
    color: #FFFFFF;
    font-size: 6rem;
    margin-bottom: 0rem;
}

.awardText{
    color: #FFFFFF;
    font-family: 'body';
    font-size: 2.5rem;
    margin: 0;
}

.projectText{
    color: #FFFFFF;
    margin: 0;
    margin-left: 12rem;
    font-family: 'body';
    font-size: 2.5rem;
}

.poster {
    width: 80%;
    margin-top: 2.5%;
    margin-left: 10%;
    border: 1rem solid #FFFFFF;
}

.modelSection {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-bottom: 5rem;
}

.model {
    width: 35%;
}

.modelTitle{
    color: #FFFFFF;
    font-family: 'Handwriting';
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
}

.modelHeader {
    color: #FFFFFF;
    font-family: 'Body-Bold';
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
}

.modelBodyText{
    margin: 0;
    margin-left: 3rem;
    color: #FFFFFF;
    font-family: 'Body';
    font-weight: 100;
    font-size: 1.5rem;
}

i {
    font-size: 1.75rem;
    margin-right: 0.5rem;
}