.page {
  /* Existing styles */
  width: 100%;
}
.hero {
    text-align: left;
    padding-left:15%;
  }

.greeting {
  font-family: 'Kyiv', sans-serif;
  font-size: 5rem;
  max-width: 50rem;
  color: #F0C892;
}
  
.desc {
  padding-top: 9rem;
  padding-bottom: 1.5rem;
  font-family: 'Kyiv', sans-serif;
  font-size: 3rem;
  max-width: 30rem;
  color: #594123;
  margin: 0.5rem;
}

  .title {
    color: #26471a;
  }
  
  .subtitle {
    font-size: 1.25rem;
    color: #26471a;
    max-width: 50rem;
  }

  .featured {
    text-align: center;
    background-color: #594123;
  }
  .featuredTitle {
    color: #F0C892;
    font-size: 8.5rem;
    font-family: 'Kolker';
    margin: 0;
  }

  .projectsGrid {
    display: grid;
    width: 100%;
    gap: 2rem;
    grid-template-columns: 1;
    background-color: #BEA776;
  }

  .header {
    width: 100%;
    /* No explicit background color, so it remains transparent and shows the container’s background */
  }
  
  .nav {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .navLinks {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
  }
  
  .navLink {
    color: #F0C892;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: auto;
    white-space: nowrap;
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  .activeLink {
    color: #F0C892;
    transition: color 0.3s ease;
    margin: auto;
    white-space: nowrap;
    padding: 0.5rem;
    text-decoration: underline;
    font-size: 1.5rem;
  }
  
  .activeLink:hover {
    color: #fdffdb;
  }
  
  .navLink:hover {
    color: #cdcfbb;
  }