.page {
  /* Existing styles */
  width: 100%;
}
.hero {
    text-align: left;
    padding-left:15%;
  }

.greeting {
  font-family: 'Kyiv', sans-serif;
  font-size: 5rem;
  max-width: 50rem;
  color: #F0C892;
}
  
.desc {
  padding-top: 12%;
  padding-bottom: 2%;
  font-family: 'Kyiv', sans-serif;
  font-size: 2.5rem;
  max-width: 30rem;
  color: #594123;
  margin: 1rem;
}

  .title {
    color: #26471a;
  }
  
  .subtitle {
    font-size: 1.25rem;
    color: #26471a;
    max-width: 50rem;
  }

  .featured {
    text-align: center;
    background-color: #594123;
  }
  .featuredTitle {
    color: #F0C892;
    font-size: 8.5rem;
    font-family: 'Kolker';
    margin: 0;
  }

  .projectsGrid {
    display: grid;
    width: 100%;
    gap: 2rem;
    grid-template-columns: 1;
    background-color: #BEA776;
  }