.header {
    width: 100%;
    background-color: #51604E;
  }

  .nav {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .navLinks {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
  }
  
  .navLink {
    color: #FFFFFF;
    font-family: 'Body';
    text-decoration: none;
    transition: color 0.3s ease;
    margin: auto;
    white-space: nowrap;
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  .activeLink {
    color: #FFFFFF;
    transition: color 0.3s ease;
    margin: auto;
    white-space: nowrap;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Body-Bold';
  }
  
  .activeLink:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .navLink:hover {
    color: rgba(255, 255, 255, 0.8);
  }