.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease;
}

.title {
  font-family: 'Italiana';
  font-size: 3rem;
  position: relative;
  padding-left: 15%;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: #6E816B;
}

.description {
  font-family: 'Serif-Light';
  font-size: 2rem;
  text-align: left;
  position: relative;
  padding-left: 16%;
  color: #6E816B;
}

.subtitle {
  font-family: 'Serif-Light';
  font-size: 2rem;
  text-align: left;
  position: relative;
  padding-left: 16%;
  color: #6E816B;
  margin-bottom: 0rem;
}

/* Full Type Styles */
.cardFull {
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
  width: 100%;
}

.imageFull {
  position: relative;
  margin-top: 1rem;
  margin-left: 10rem;
  flex: 1 1 1%; /* Flexible basis */
  overflow: visible;
  max-width: 700px;
  align-self: center;
  padding: 2rem;
  background-color: #6E816B;
}

.imageFull img{
  margin-left: -1.6rem;
  margin-top: -1.6rem;
}

.contentFull {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 4rem;
}

.fullButton {
  font-family: 'Italiana';
  font-size: 2rem;
  text-align: left;
  position: relative;
  margin-left: 16%;
  color: #6E816B;
  margin-right: auto;
  text-decoration: none;
}

.fullButton:hover {
  color: #4E614B;
  text-decoration: underline;
}

.image {
  width: 105%;
  object-fit: cover;
}

.projectsHorizontalScroll {
  scroll-snap-type: x mandatory;
}

.projectSlide {
  scroll-snap-align: start;
}

.cardTimeline {
  width: 100%;
  margin-top: -5vw;
}

.cardTimelineTop {
  width: 100%;
  margin-top: -15vw;
}

.imageTimeline img {
  width: 100%;              /* Image takes the full width of its container */
  height: 100%;             /* Fills the container's height */
  object-fit: cover;        /* Scales and crops the image to cover the container fully */
  border-radius: 1rem;
}

/* This wrapper gives both header and image the same fixed width and horizontal margin */

/* Header container to display title and description side-by-side */
.timelineHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}

/* Remove any extra padding from header elements so they align neatly */
.timelineTitle {
  font-family: 'Italiana';
  font-size: 3vw;
  color: #DEDEDE;
  margin: 0;           /* Remove any extra padding */
  text-align: left;
}

.timelineDescription {
  font-family: 'Serif';
  font-size: 2vw;
  color: #DEDEDE;
  margin: 0;
  text-align: right;
}

/* Existing image timeline styles */
.imageTimeline {
  position: relative;
  flex: 1 1 1%;
  overflow: hidden;
  width: 32vw;
  height: auto;
  align-self: center;
}

