.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease;
}

/* Simplistic Type Styles */
.cardSimplistic {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.imageSimplistic {
  width: 220px;
  height: 220px;
  background: #6D4C41;
  border-radius: 50%;
  padding: 10px;
  position: relative;
}

.imageSimplistic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  padding: 8px;
  object-fit: cover;
  box-sizing: border-box;
}

.simplisticTitle {
  font-size: 1.5rem;
  text-align: center;
  color: #fdffdb;
  margin-bottom: 1rem;
}

.title {
  font-size: 5rem;
  position: relative;
  top: -30%;
  padding-left: 20%;
  text-align: left;
  color: #fdffdb;
}

.description {
  font-size: 1rem;
  text-align: left;
  position: relative;
  top: -35%;
  padding-left: 21%;
  color: #fdffdb;
}

/* Full Type Styles */
.cardFull {
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
  width: 100%;
}

.imageFull {
  position: relative;
  margin-left: 10%;
  flex: 1 1 1%; /* Flexible basis */
  overflow: visible;
  width: 90%;
  max-width: 300px;
  align-self: center;
}

.imageFull::before,
.imageFull::after {
  content: '';
  position: absolute;
  width: 130%;
  height: 130%;
  border: 2px solid #fdffdb;
  z-index: 1;
}

.imageFull::before {
  top: -20%;
  right: -20%;
}

.imageFull::after {
  bottom: -20%;
  left: -20%
}

.imageFull img {
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
  width: 115%;
  height: 115%;
  transform: translate(-5%, -5%); /* Replace fixed positioning */
}

.contentFull {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 2rem;
}

.fullButton {
  align-self: flex-end;
  margin-top: auto;
  position: absolute;
  top: +90%;
  margin: 1rem;
  padding: 0.75rem 1.5rem;
  background: #2c3e50;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.fullButton:hover {
  background: #34495e;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}