.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease;
}

/* Simplistic Type Styles */
.cardSimplistic {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.imageSimplistic {
  width: 220px;
  height: 220px;
  background: #6D4C41;
  border-radius: 50%;
  padding: 10px;
  position: relative;
}

.imageSimplistic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  padding: 8px;
  object-fit: cover;
  box-sizing: border-box;
}

.simplisticTitle {
  font-size: 1.5rem;
  text-align: center;
  color: #fdffdb;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  text-align: end;
  color: #fdffdb;
  margin: 1rem;
}

.description {
  font-size: 1rem;
  text-align: end;
  color: #fdffdb;
  margin: 1rem;
}

/* Full Type Styles */
.cardFull {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
}

.imageFull {
  margin-left: 10%;
  position: relative;
  flex: 0 0 300px;
  overflow: visible;
}

.imageFull::before,
.imageFull::after {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  border: 2px solid #fdffdb;
  z-index: 1;
}

.imageFull::before {
  top: -15%;
  right: -15%;
}

.imageFull::after {
  bottom: -15%;
  left: -15%
}

.imageFull img {
  position: relative;
  z-index: 2;
  width: 115%;
  height: 115%;
  object-fit: cover;
}

.contentFull {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 2rem;
}

.fullButton {
  align-self: flex-end;
  margin-top: auto;
  margin: 1rem;
  padding: 0.75rem 1.5rem;
  background: #2c3e50;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.fullButton:hover {
  background: #34495e;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}