.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* Set the desired background here */
  background-image: url("\\assets\\background.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  /* No explicit background color, so it remains transparent and shows the container’s background */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  padding: 0 1rem;
}

.navLinks {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
}

.navLink {
  color: #F0C892;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: auto;
  white-space: nowrap;
  padding: 1rem;
  font-size: 1.5rem;
}

.activeLink {
  color: #F0C892;
  transition: color 0.3s ease;
  margin: auto;
  white-space: nowrap;
  padding: 0.5rem;
  text-decoration: underline;
  font-size: 1.5rem;
}

.activeLink:hover {
  color: #fdffdb;
}

.navLink:hover {
  color: #cdcfbb;
}

.main {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  /* No background style here since we want to use the container’s background */
}

.footer {
  background-color: #f8f9fa;
  padding: 2rem;
  text-align: center;
  color: #666;
  margin-top: auto;
}
