/* Footer.module.css */

.container {
  --bg-main: #51604E;
  --bg-contrast: #FFFFFF;
  --text-main: #51604E;

  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
}

.container.inverted {
  --bg-main: #FFFFFF;
  --bg-contrast: #51604E;
  --text-main: #FFFFFF;
}



.main {
  flex: 1;
  margin: 0;
  width: 100%;
}

.footer {
  background-color: var(--bg-contrast);
  padding: 0rem;
  text-align: left;
  color: #666;
  margin-top: -2rem;
  padding-bottom: 2rem;
  display: block;
  z-index: 1;
}

.wave {
  color: var(--bg-contrast);
  display: block;
  line-height: 0;
  width: 100%;
  height: 12rem;
  margin-top: -3rem;
}

.footerTitle {
  margin-top: -1rem;
  margin-bottom: 0rem;
  font-family: 'Handwriting';
  color: var(--text-main);
  font-size: 5rem;
  padding-left: 12rem;
}

.footerText {
  padding-left: 13rem;
  font-size: 1.5rem;
  color: var(--text-main);
  font-family: 'Body';
}
